@import "tailwindcss";

@theme {
  /* custom tailwind color  */
  --color-mainBgColor: #fffbfb;
  --color-mainBgColorDark: #1e1e1e;
  --color-textLight: #404040;
  --color-textDark: #ffffff;
  --color-cusOrang: #ff782c;
  --color-cusWhite: #e4e4e4bf;
  --color-cusBlue: #5264ff;
  /* custom tailwind font  */
}
