@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: IranYekanbold;
  font-weight: 700;
  font-display: swap;
  src: url("/iranFont/IRANYekanX-Medium.woff2") format("woff2");
}
@font-face {
  font-family: iranYekanMedium;
  font-weight: 500;
  font-display: swap;
  src: url("/iranFont/IRANYekanX-Medium.woff2") format("woff2");
}
@font-face {
  font-family: iranYekanRegular;
  font-weight: 400;
  font-display: swap;
  src: url("/iranFont/IRANYekanX-Regular.woff2") format("woff2");
}
@theme {
  /* custom tailwind color  */
  --color-mainBgColor: #fffbfb;
  --color-mainBgColorDark: #1e1e1e;
  --color-textLight: #404040;
  --color-textDark: #ffffff;
  --color-cusOrang: #ff782c;
  --color-cusWhite: #e4e4e4bf;
  --color-cusWhite2: #fffbfb;
  --color-cusBlue: #5264ff;
  --color-darkFooterBg: #232323;
  /* custom tailwind font  */
  --font-iranYekanBold: "iranYekanBold";
  --font-iranYekanMedium: "iranYekanMedium";
  --font-iranYekanRegular: "iranYekanRegular";
  /* query */
  --breakpoint-query1120: 70rem;
  --breakpoint-query1000: 62.5rem;
  --breakpoint-query860: 53.75rem;
}
.nav_animation {
  position: relative;
}
.nav_animation::before {
  content: " ";
  position: absolute;
  height: 1.5px;
  width: 0;
  background-color: #5264ff;
  bottom: 0;
  right: 0px;
  transition: width 0.3s ease 0.1s;
}
.nav_animation:hover::before {
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cus-line_signup {
}
.cus-line_signup::after {
  content: " ";
  width: 360px;
  height: 1px;
  background-color: #d0d0d0;
  position: absolute;
  z-index: -10;
}
/* custom btn animation 👇 */

/* 404 btn with animation  */
.button {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
  font-family: "iranYekanBold";
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}
@media only screen and (max-width: 800px) {
  .button {
    width: 150px;
    height: 40px;
  }
  .btn-txt {
    font-size: 14px;
  }
}
